body {
  background-color: rgb(12, 12, 53);
}

.title {
  color: white;
  text-align: center;
  margin-top: 40px;
}

.paragraph-div {
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  width: 900px;
}

.paragraph {
  color: white;
}

.video {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.book {
  text-align: center;
}

.link {
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 30px;
}

.download-link {
  font-size: 28px;
  color: white;
}