body {
  background-color: rgb(29, 29, 164);
}

a {
  color: white;
}

.title {
  color: white;
  text-align: center;
  margin-top: 40px;
}

.paragraph-div {
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  width: 900px;
}

.paragraph {
  color: white;
}

.video {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.book {
  text-align: center;
}

.link {
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 30px;
}

.download-photo {
  max-width: 600px
}

.download-link {
  font-size: 28px;
  color: white;
}

.notice {
  text-align: center;
  color: white;
  margin-top: 15px;
}

@media screen and (max-width: 1024px) {
  .paragraph-div {
    max-width: 750px
  }
  .player {
    max-width: 750px;
    max-height: 424px;
  }
  .download-photo {
    max-width: 600px
  }
  .pdf {
    max-width: 800px;
  }
}

@media screen and (max-width: 768px) {
  .paragraph-div {
    max-width: 550px
  }
  .player {
    max-width: 550px;
    max-height: 310px;
  }
  .download-photo {
    max-width: 450px
  }
  .pdf {
    max-width: 600px;
  }
}

@media screen and (max-width: 425px) {
  .paragraph-div {
    max-width: 325px
  }
  .player {
    max-width: 325px;
    max-height: 183px;
  }
  .download-photo {
    max-width: 300px
  }
  .pdf {
    max-width: 300px;
  }
}