body {
  background-color: rgb(12, 12, 53);
}

.title {
  color: white;
  text-align: center;
  margin-top: 40px;
}

.video {
  text-align: center;
  margin-top: 50px;
}

.book {
  text-align: center;
}
